* {
    box-sizing: border-box;
}

span.label {
    width: 25%;
    float: left;
}

.entry {
    width: 75%;
    float: left;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

}

body {
    background-color: #ccccff;
}

.ranking-input {
    width: 2em;
    margin-right: 1em;
}

textarea {
    width: 20em;
    height: 10em;
}
